.ui-window[data-segue="active"], .ui-window[data-segue="left"], .ui-window[data-segue="right"] {
	-webkit-transition: -webkit-transform ease-in-out 0s;

	/*-webkit-transform-style: preserve-3d;*/
}

.ui-window[data-segue="active"] {
	z-index: 20;
}

.ui-window[data-segue="left"] {
	-webkit-transform: translate3d(-100%, 0, 0);

	z-index: 10;
}

.ui-window[data-segue="right"] {
	-webkit-transform: translate3d(100%, 0, 0);

	z-index: 10;
}

.ui-window[data-segue="modal"] {
	z-index: 40;
	
	background: pink;
	-webkit-transition: -webkit-transform ease-in-out .4s;	
	-webkit-transform: translate3d(0, 100%, 0);
}